# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/

# Pytest
.pytest_cache/

# Streamlit
.streamlit/

# Local outputs
outputs/*
!outputs/.gitkeep
